

<%- include('header')%>
	<!-- slide show 111018-->
<div class="container" style="box-shadow: 0 0 500px #7e8799; padding: 0px;">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
			    <a href="/brend1" target="_blank">
			      <img class="d-block w-100" src="http://www.watchesguru.net/images//candy/rolex/Rolex-Oyster-Perpetual-Day-Date-Silver-and-Gold.jpg" alt="First slide">
			    </a>
		    </div>
		    <div class="carousel-item">
			    <a href="/brend2" target="_blank">
			      <img class="d-block w-100" src="https://cdn.hipwallpaper.com/i/84/80/exBQLb.jpg" alt="Second slide">
			    </a>
		    </div>
		    <div class="carousel-item">
			    <a href="/brend3" target="_blank">
			      <img class="d-block w-100" src="http://www.fullhdwpp.com/wp-content/uploads/Omega-Speedmaster-Professional_www.FullHDWpp.com_.jpg" alt="Third slide">
			    </a>
		    </div>
		    <div class="carousel-item">
			    <a href="/brend4" target="_blank">
			      <img class="d-block w-100" src="https://media.gqindia.com/wp-content/uploads/2014/09/rotonde-de-cartier-astrocalendaire-tourbillon-perpetual-calendar_0.png" alt="Third slide">
			    </a>
		    </div>
		    <div class="carousel-item">
			    <a href="/brend5" target="_blank">
			      <img class="d-block w-100" src="https://media.gqindia.com/wp-content/uploads/2015/01/gq-bulgari-chrono_maserati-front_0.jpg" alt="Third slide">
			    </a>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
	</div>
</div>

	<div class="jumbotron jumbotron-fluid bg-secondary text-light">
	  <div class="container">
	    <h1 class="display-4">LUXURY WATCH BRANDS</h1>
	    <p class="lead">Here at Luxury Watches Brands we sell name brand watches discounted prices.</p>
	  </div>
	</div>

<%- include('footer')%>